.container
{
    

      background-color: aqua;
      justify-content: center;
      text-align: center;
      border: 2px solid black;
     
     
}

.inner
{
     
      width: auto;
      background-color: rgb(0, 94, 255);
      border: 2px solid black;
     
     
}