.container
{
      background-color: burlywood;
      margin-bottom: 10px;
      
}
.inner
{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}
.inner div{
      margin: 10px 10px;
      padding: 10px 10px;
}
.btn
{
      background-color: crimson;
      color: darkgray;
}